.slide-container {
  transition: transform 0.4s ease;
}

.slide-container.visible {
  transform: translateX(0);
}

.slide-left {
  transform: translateX(100%);
}

.slide-right {
  transform: translateX(-100%);
}

.width-none {
  width: 0 !important;
}

.slide-bar-left {
  animation: slideInFromLeft 0.4s ease;
}

.slide-bar-right {
  animation: slideInFromRight 0.4s ease;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
